#  ========================================================================
#  $File: .gitignore $
#  $Date: 2017-01-15 22:38:53 $
#  $Revision: $
#  $Creator: Jen-Chieh Shen $
#  $Notice: See LICENSE.txt for modification and distribution information
#                    Copyright (c) 2017 by Shen, Jen-Chieh $
#  ========================================================================


# ignore these directory
/lib
